@import "./header.scss";
@import "./hero.scss";
@import "./why.scss";
@import "./latestArticles.scss";
@import "./footer.scss";

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --rightCyan: hsl(192, 70%, 51%);
  --grayblue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: color black;

  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: "Public Sans", sans-serif;
  /* border: 2px solid blue; */

  margin: 0;
  color: var(--grayblue);
}

.wrapper {
  padding: 0 var(--wrapperSpace); // 0 - 1.5em
  /*  padding: 0 1.5em; */
}

@mixin title {
  /*  border: 1px solid black; */
  font-size: 2.5em;
  /* font-size: 2.5em; */
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.title {
  &__h1 {
    @include title;
  }
  &__h2 {
    @include title;
    font-size: 1.5em;
    /*        @extend .title__h1;
     font-weight: 200;  */
  }
  &__h3 {
    @include title;
    font-size: 1.2em;
    /*   font-weight: 200;  */
  }
}
.copy {
  /* border: 1px solid red; */
  line-height: 1.7;
}

.is-hidden {
  display: none;
}
.button {
  border: none;
  padding: 0.9em 2.2em;
  font-size: 1em;
  background-image: linear-gradient(
    to right,
    var(--rightCyan) 0%,
    var(--limeGreen) 90%
  );
  border-radius: 1.5em;
  color: var(--white);
}

@mixin icon {
  width: 25px;
  height: 25px;
  /* display: inline-flex; */
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

.icon {
  &__facebook {
    @include icon;
    background-image: url("../images/icon-facebook.svg");
  }
  &__youtube {
    @include icon;
    background-image: url("../images/icon-youtube.svg");
  }
  &__twitter {
    @include icon;
    background-image: url("../images/icon-twitter.svg");
  }
  &__pinterest {
    @include icon;
    background-image: url("../images/icon-pinterest.svg");
  }
  &__instagram {
    @include icon;
    background-image: url("../images/icon-instagram.svg");
  }
}
