.header {
  /* border: 1px solid red; */
  /* height: 40px; */
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
}
.menu {
  /* border: 2px solid green; */
  width: 40px;
  /* height: 30px; */
  background: url("../images/icon-hamburger.svg") center no-repeat;
}
